
@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');


*{
 /* color: #f0f8ff;*/
font-family: 'Lato', sans-serif;
font-size: 18px;
}

body {
  /*background-color: rgb(10, 10, 56);*/
 /* color: aliceblue;*/
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  color: black;
}

.hero{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  /* color: #63AFFF; */
  /*color: aliceblue;*/
  margin-bottom: 15%;
}
h2 {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
h2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #0284C7;
}
.navbar-brand {
  color: #0284C7;

}

.hero h1 span{
  color: #0284C7;
  font-size: 100%
}

.hero-img{
  margin-bottom: 15%;
}

.hero p {
  color: gray;
}



.drawer-items{
  color: black;

}

.desc-cards{
 padding: 3%;
 color: black;

}
.card{
 margin-bottom: 15px;
 height: 400px
}

.menu-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-items: hover,
:active{
  color: blue;
}

.nav-item a{
  color: #0284C7;
  padding: 1%;
}

.nav-item a:hover
{
  color: gray;
  border-bottom: solid 1px #0284C7;
}

.info-card{
  padding: 10%;
  color: gray;
  margin: 2%;
}

.info-img{
  height: 450px;
  margin: 0 auto;
  padding: 10%
}

.info-item-text{
  padding: 15% 10%;
  color: grey
}

.info-item-text h3{
  color: #0284C7;
}
