
@import '~antd/dist/antd.css';

*{
 /* color: #f0f8ff;*/

}

body {
  /*background-color: rgb(10, 10, 56);*/
 /* color: aliceblue;*/
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hero{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  /* color: #63AFFF; */
  /*color: aliceblue;*/
  margin-bottom: 15%;
}

.navbar-brand {
  color: #0284C7;
  font-weight: bold;
}

.hero h1 span{
  color: #0284C7;
}

.hero-img{
  margin-bottom: 15%;
}

.hero p {
  font-size: medium;
}



.drawer-items{
  color: black;

}

.desc-cards{
 padding: 3%;
 color: black;

}
.card{
 margin-bottom: 15px;
 height: 400px
}

.menu-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-items: hover,
:active{
  color: blue;
}
